# 1) first things I have installed
hjson
h5py
PyQt5
pyqtgraph
instrumental-lib==0.6
# NOTE files in instrumental-lib have been changed manually after installation

# 2) packages installed to run control.controllers.Moke
pyusb
psutil
pandas
nicelib
numba
termcolor
pyopengl
trimesh
matpltolib
requests
scikit-learn

# 3) just for convenience
ipython
jupyter

# 4) thorlabs-tsi-sdk for quantalux camera
#   download the windows SDK from here https://www.thorlabs.com/software_pages/ViewSoftwarePage.cfm?Code=ThorCam
#   unzip it, locate the thorlabs_tsi_camera_python_sdk_package.zip and install it via pip
#   After that move the files in Native_64_lib to the folder thorlabs_camera_DLLs
thorlabs_camera_DLLs\thorlabs_tsi_camera_python_sdk_package.zip

# 5) added by Miguel, Le and Sabri
pylablib==1.4.3